<header>{{siteInfo.title}}</header>

<div id="toolbar">
    <button id="btn-one-user">Next One</button>
    <button id="btn-ten-user">Next Ten</button>
    <button id="btn-thousand-user">Try One Thousand</button>
</div>
<main id="main"></main>